.qr-code_main-screen{
  border: none;
  margin-top: 40px;
}

.qr-code_main-img img{
  border: none;
  width: 300px;
  height: 300px;
  padding: 5px;
}

.qr-code_list{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.qr-code_description{
  margin-top: 20px;
  font-size: 16px;
}